<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon_io/guitar.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon_io/guitar.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon_io/guitar.png">
  <link rel=" manifest" href="../img/favicon_io/site.webmanifest">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/styleDetalhes.css">
  <title>Music Flix - Detalhes</title>
</head>

<body>
  <header>
    <div class="logo">
		<img src="../img/music.png" alt="" width="170px">
	  </div>
        
	<ul class="menu">
		<li class="list"><a id="colorRed" href="#">🏠 Home</a></li>
		<li class="list"><a class="list" href="#itens"> 📑 Itens</a></li>
		<li class="list"><a class="list" href="#aboutUs"> 👨🏾‍🎤 Sobre Nós</a></li>
		<li class="list"><a class="list" href="#login">🔑 Login</a></li>
	</ul>
  </header>

  <div class="banner-detalhes"></div>

  <section>
    <div id="itens" class="titulo1-detalhes">
      <a href="https://pt.wikipedia.org/wiki/Guns_N%27_Roses" class="titulo1-detalhes" target="_blank" style="text-decoration:none"><p>Guns N' Roses</p></a>
    </div>
      
    <div class="instrumentos">
      <img src="../img/guitar.png" alt="">
      <img src="../img/drum.png" alt="">
      <img src="../img/mic.png" alt="">
      <img src="../img/keyboard.png" alt="">
      <img src="../img/bass-guitar.png" alt="">
    </div>
      
    <div>
      <p class="paragrafo">Guns N' Roses (por vezes abreviado como G N' R ou GnR) é uma banda norte-americana de
        hard rock formada em Los Angeles, Califórnia, em 1985. A banda lançou, até o momento, seis álbuns de
        estúdio, três EPs e um álbum ao vivo.
        A banda vendeu mais de 100 milhões de cópias em todo o mundo, sendo cerca de 43 milhões somente nos
        Estados Unidos. O seu álbum de estreia lançado em 1987, Appetite for Destruction, vendeu cerca de 33
        milhões de cópias no mundo todo, sendo certificado 18 vezes platina pela RIAA (Associação da Indústria
        de Gravação da América), se tornando o álbum de estreia mais vendido da história da música.
      </p>
    </div>

    <div class="titulo-integrantes">
      <p>Integrantes</p>
    </div>

    <div class="integrantes">
      <a href="https://pt.wikipedia.org/wiki/Axl_Rose" target="_blank" style="text-decoration:none"><p>Axl Rose</p></a>
      <a href="https://pt.wikipedia.org/wiki/Slash" target="_blank" style="text-decoration:none"><p>Slash</p></a>
      <a href="https://pt.wikipedia.org/wiki/Duff_McKagan" target="_blank" style="text-decoration:none"><p>Duff McKagan</p></a>
      <a href="https://en.wikipedia.org/wiki/Richard_Fortus" target="_blank" style="text-decoration:none"><p>Richard Fortus</p></a>
      <a href="https://en.wikipedia.org/wiki/Frank_Ferrer" target="_blank" style="text-decoration:none"><p>Frank Ferrer</p></a>
      <a href="https://en.wikipedia.org/wiki/Dizzy_Reed" target="_blank" style="text-decoration:none"><p>Dizzy Reed</p></a>
      <a href="https://en.wikipedia.org/wiki/Melissa_Reese" target="_blank" style="text-decoration:none"><p>Melissa Reese</p></a>
    </div>

    <div class="titulo-estilo">
      <p>Estilo</p>
    </div>
    
    <div class="estilo">
      <a href="https://en.wikipedia.org/wiki/Hard_rock" target="_blank" style="text-decoration:none"><p>Hard Rock,</p></a>
      <a href="https://en.wikipedia.org/wiki/Heavy_metal" target="_blank" style="text-decoration:none"><p>Heavy Metal</p></a>
    </div>
  </section>

  <section>
    <div>
      <p class="titulo3-detalhes">Clipe</p>
    </div>

    <div>
      <iframe class="clipe"  src="https://www.youtube.com/embed/P2OMjVc-jR0"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </section>

  <footer id="aboutUs">
    <section class="github">
      <div class="cardAluno">
        <h4>Jonatan Rocha</h4>
        <p>Responsável pelo desenvolvimento.</p>
        <a href="https://www.linkedin.com/in/jonatanrocha25/" target="_blank"><img class="icon" src="../img/linkedin.svg" alt=""></a>
        <a href="https://github.com/JonatanRocha2" target="_blank"><img src="../img/github.png" alt=""></a>
      </div>

      <div class="cardAluno">
        <h4>Antonio Mesquita</h4>
        <p>Responsável pelo desenvolvimento.</p>
        <a href="https://www.linkedin.com/in/-antonio-mesquita/" target="_blank"><img class="icon" src="../img/linkedin.svg" alt=""></a>
        <a href="https://github.com/0xh377w4v3" target="_blank"><img src="../img/github.svg" alt=""></a>
      </div>
    </section>
  
    <div class="text-footer">
      <h2><span class="frontend">Front-end 2</span><span class="pipe"> | </span>Checkpoint 1 <span class="pipe">Desenvolvido em 2022</span></h2>
    </div>
  </footer>

</body>

</html>